[submodule "src/malware/websockets/externals/asio"]
	path = src/malware/websockets/externals/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "src/malware/websockets/externals/websocketpp"]
	path = src/malware/websockets/externals/websocketpp
	url = https://github.com/zaphoyd/websocketpp
